/*<!-- Robert de Bruyn Author -->*/

body{
    background-color: gainsboro;
}

.topbar{
    display: inline-block;
   
}
#topbar{
    padding: 10px;
    margin-bottom: 0;
    background-color: gainsboro;
}
#drawfield{ 
    float: right;
    border: 5px solid #000; 
}
#mainField{ 
    border: 1px solid #000; 
    background-color: white;
}

.btn {
    position:relative;
    padding:6px 15px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.btn:hover  {
    background-color:#fafafa;
    color:#207cca;
}

.sidebar {
    margin-top: 0;
    display: block;
    background-color: gainsboro;
    float: left;
    
}
#red{ 
    background-color: red; 
    width: 60px;
}
#blue{ 
    background-color: blue;
width: 60px;
}
#yellow{ 
    background-color: yellow;
width: 60px;
}
#purple{ 
    background-color: purple;
width: 60px;
}
#orange{ 
    background-color: orange;
width: 60px;
}
#green{ 
    background-color: green;
width: 60px;
}
#white{ 
    background-color: white;
    width: 60px;
}
#black{ 
    background-color: black;
    color: white;
    width: 60px;
}

.size{
    width: 125px;
}

.drawfield{
    margin-top: 0;
    float:left;
   
    
}
