/* Nicholas Casbarro Author */
body {
    margin: 0;
    padding: 0;
    background: #EEEEEE;
    font: 10px/13px 'Arial';
}

#topBar {
    width:100%;
    height: 50px;
    margin-bottom:20px;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #dbdbdb;
}

.title {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: sans-serif;
    font: 30px/20px 'Arial';
    float: left;
    margin-left: 10%;
    margin-right: 20px;
}

#searchTools {
    text-align: center;
    position: relative;
    width: auto;
}

#searchBar {
    padding:8px 15px;
    background: lightgray;
    border:0 solid #dbdbdb;
    width: 400px;
}

.btn {
    position:relative;
    padding:6px 15px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    text-decoration: none;
}
.btn:hover  {
    background-color:#fafafa;
    color:#207cca;
    cursor: pointer;
}

.create {
    font-size: 13px;
}

.gallerycontainer {
    overflow: hidden;
    margin: 10px 10% 10px 10%;
}
.box {
    width: 20%;
    padding-bottom: 20%;
    float: left;
    position: relative;
}
.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}
.boxInner img {
    width: 100%;
    height:100%;
}
.boxInner .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0;
    color: white;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.boxInner:hover .caption {
   opacity: 0.6;
}

@media only screen and (max-width: 650px) {
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width: 651px) {
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width: 1051px) {
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}